<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>HomeDash</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>


<body><br>
    <header>
        <% include ../partials/navbar %>
    </header>
    <div class="container text-center">
        <h1>My Pantry</h1>
        <br>
    </div>


    <div class="container" id="displayAllFood">
        <%  if (expiringFoods.length === 0) { %>
                <p>
                    Your pantry is empty. Go to
                    <a href="/inventory">inventory</a>
                    to add items.
                </p>
        <%  }
            function getColor(exp, daysToExp) {

                var g = 255;
                var r = 0;
                var b = 140;
                var colorsArr = [];
                if (daysToExp != null) {
                    var percToExp = (exp - daysToExp) / exp;
                    if (percToExp < 0.5 && percToExp > 0){
                        r = percToExp * 255 * 2;
                    } else if (percToExp > 0.5) {
                        r = 255;
                        g = (1-percToExp) * 255 * 2;
                    } else if (percToExp === 0.5) {
                        r = 255;
                    }
                } else {
                    r = 255;
                    g = 255;
                    b = 255;
                }
                colorsArr.push(r, g, b);
                return colorsArr;
            }
            for(var i=0; i<expiringFoods.length; i++){ %>
                <%  
                    var expiryTime = expiringFoods[i].expiry_time;
                    var daysLeft = expiringFoods[i].days_to_expiry;
                    r = getColor(expiryTime, daysLeft)[0];
                    g = getColor(expiryTime, daysLeft)[1];
                    b = getColor(expiryTime, daysLeft)[2];
                %>
                <div style="background-color: rgb(<%=r%>,<%=g%>,<%=b%>)" class="foodIcon text-center" data-foodID="<%= expiringFoods[i].food_id %>">
                    <img class="foodImage" src="/assets/img/<%= (expiringFoods[i].custom_user_id === 0 ? expiringFoods[i].food_id : 'customFood')%>.png" alt="food image">
                    <span class="days">
                        <%=expiringFoods[i].days_to_expiry%>
                    </span>
                    <p>
                        <%=expiringFoods[i].food_name%>
                    </p>
                </div>
            <%}
        %>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/assets/js/homedash.js"></script>
    <script type="text/javascript">
        $('.foodIcon').on('click', function() {
            $.ajax({
                type: 'POST',
                url: '/update-purchase_time',
                data: {
                    food_id: $(this).attr('data-foodID')
                }
            }).then(function(){
                location.reload();
            })
        });
    </script>
</body>

</html>